
@{
    ViewBag.Title = "Thống kê - CSDL Khoa học";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<div class="main-content">
    <!-- Section: About -->
    <section class="">
        <div class="container">
            <div class="section-content">

                <div class="panel">
                    <div class="panel-body">
                        <div>
                            <form action="article" class="form-horizontal" method="post" accept-charset="utf-8">

                                <div class="form-group">
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Chọn đơn vị:</label>
                                    </div>
                                    <div class="col-md-9">
                                        @{
                                            QLKhoaHocEntities db = new QLKhoaHocEntities();
                                            List<DonViQL> donViQLs = db.DonViQLs.ToList();
                                        }
                                        <select name="unit" class="form-control">
                                            @if (ViewBag.unit != null)
                                            {
                                                if (ViewBag.unit == "0")
                                                {
                                                    <option value="0" selected="selected">
                                                        --Tất cả--
                                                    </option>
                                                    foreach (var item in donViQLs)
                                                    {
                                                        <option value="@item.MaDonVi">
                                                            @item.TenDonVI
                                                        </option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="0">
                                                        --Tất cả--
                                                    </option>
                                                    foreach (var item in donViQLs)
                                                    {
                                                        if (item.MaDonVi == ViewBag.unit)
                                                        {
                                                            <option value="@item.MaDonVi" selected="selected">
                                                                @item.TenDonVI
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.MaDonVi">
                                                                @item.TenDonVI
                                                            </option>
                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <option value="0" selected="selected">
                                                    --Tất cả--
                                                </option>
                                                foreach (var item in donViQLs)
                                                {
                                                    <option value="@item.MaDonVi">
                                                        @item.TenDonVI
                                                    </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Từ ngày:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control  datepicker" name="from_date" id="from_date" value="" autocomplete="off">
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Đến ngày:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control datepicker" name="to_date" id="to_date" value="" autocomplete="off">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-primary">Thống kê</button>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <div class="text-center">
                                    <span class="statistic-title">
                                        BIỂU THỐNG KÊ BÀI BÁO KHOA HỌC

                                        @if (ViewBag.fromdate != null && ViewBag.todate != null)
                                        {
                                            <br>
                                            <span> TỪ @Convert.ToDateTime(@ViewBag.fromdate).ToString("dd/MM/yyyy")  ĐẾN @Convert.ToDateTime(@ViewBag.todate).ToString("dd/MM/yyyy")</span>
                                        }
                                    </span>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="2">Số bài báo trên TCKH trong nước</th>
                                            <th class="text-center" colspan="4">Số bài báo trên TCKH nước ngoài</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">TCKH do HĐCDGS quy định</th>
                                            <th class="text-center">Khác</th>
                                            <th class="text-center">Tạp chí ISI</th>
                                            <th class="text-center">Tạp chí SCOPUS</th>
                                            <th class="text-center">Tạp chí ESCI</th>
                                            <th class="text-center">Khác</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int[] res = { 0, 0, 0, 0, 0, 0 };
                                            if (ViewBag.nHDCDGS != null && ViewBag.nKhac_in != null && ViewBag.nISI != null && ViewBag.nSCOPUS != null && ViewBag.nESCI != null && ViewBag.nKhac_out != null)
                                            {
                                                res[0] = ViewBag.nHDCDGS; res[1] = ViewBag.nKhac_in; res[2] = ViewBag.nISI; res[3] = ViewBag.nSCOPUS; res[4] = ViewBag.nESCI; res[5] = ViewBag.nKhac_out;
                                            }
                                            foreach (var item in res)
                                            {
                                                if (item > 0)
                                                {
                                                    <td class="text-center">@item</td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">-</td>
                                                }
                                            }
                                         }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>


