 @{
     ViewBag.Title = "Thống kê - CSDL Khoa học";
     Layout = "~/Views/Shared/_MainPage.cshtml";
}

<div class="main-content">
    <!-- Section: About -->
    <section class="">
        <div class="container">
            <div class="section-content">

                <div class="panel">
                    <div class="panel-body">
                        <div>
                            <form action="book" class="form-horizontal" method="post" accept-charset="utf-8">

                                <div class="form-group">
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Chọn đơn vị:</label>
                                    </div>
                                    <div class="col-md-9">
                                        @{ 
                                            QLKhoaHocEntities db = new QLKhoaHocEntities();
                                            List<DonViQL> donViQLs = db.DonViQLs.ToList();
                                        }
                                        <select name="unit" class="form-control">
                                            @if (ViewBag.unit != null)
                                            {
                                                if (ViewBag.unit == "0")
                                                {
                                                    <option value="0" selected="selected">
                                                        --Tất cả--
                                                    </option>
                                                    foreach (var item in donViQLs)
                                                    {
                                                        <option value="@item.MaDonVi">
                                                            @item.TenDonVI
                                                        </option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="0">
                                                        --Tất cả--
                                                    </option>
                                                    foreach (var item in donViQLs)
                                                    {
                                                        if (item.MaDonVi == ViewBag.unit)
                                                        {
                                                            <option value="@item.MaDonVi" selected="selected">
                                                                @item.TenDonVI
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.MaDonVi">
                                                                @item.TenDonVI
                                                            </option>
                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <option value="0" selected="selected">
                                                    --Tất cả--
                                                </option>
                                                foreach (var item in donViQLs)
                                                {
                                                    <option value="@item.MaDonVi">
                                                        @item.TenDonVI
                                                    </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Từ ngày:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control  datepicker" name="from_date" id="from_date" value="" autocomplete="off">
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Đến ngày:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="date" class="form-control datepicker" name="to_date" id="to_date" value="" autocomplete="off">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-primary">Thống kê</button>
                                    </div>
                                </div>
                            </form>
                            @{
                                // all
                                List<SachGiaoTrinh> giaoTrinhs = db.SachGiaoTrinhs.Where(p => p.MaLoai == "2").ToList();
                                List<SachGiaoTrinh> chuyenKhaos = db.SachGiaoTrinhs.Where(p => p.MaLoai == "1").ToList();
                                List<SachGiaoTrinh> thamKhaos = db.SachGiaoTrinhs.Where(p => p.MaLoai == "3").ToList();
                                List<SachGiaoTrinh> khacs = db.SachGiaoTrinhs.Where(p => p.MaLoai == "4").ToList();
                                int[] detail = { giaoTrinhs.Count, chuyenKhaos.Count, thamKhaos.Count, khacs.Count };
                            }
                            <div>
                                <div class="text-center">
                                    <span class="statistic-title">
                                        BIỂU THỐNG KÊ SÁCH, GIÁO TRÌNH

                                        @if (ViewBag.fromdate != null && ViewBag.todate != null)
                                        {
                                            <br>
                                            <span> TỪ @Convert.ToDateTime(@ViewBag.fromdate).ToString("dd/MM/yyyy")  ĐẾN @Convert.ToDateTime(@ViewBag.todate).ToString("dd/MM/yyyy")</span>
                                        }
                                    </span>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="4">Số lượng sách và giáo trình đã xuất bản</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Giáo trình</th>
                                            <th class="text-center">Chuyên khảo</th>
                                            <th class="text-center">Tham khảo</th>
                                            <th class="text-center">Khác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ 
                                            if (ViewBag.giaoTrinh > 0)
                                            {
                                                <td class="text-center">
                                                    <a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/book/index/unit/0/book_type/2/page/1">
                                                        @ViewBag.giaoTrinh
                                                    </a>
                                                </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">
                                                        <a href="#">
                                                            -
                                                        </a>
                                                    </td>
                                                }
                                                if (ViewBag.chuyenKhao > 0)
                                                {
                                                    <td class="text-center">
                                                        <a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/book/index/unit/0/book_type/2/page/1">
                                                            @ViewBag.chuyenKhao
                                                        </a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">
                                                        <a href="#">
                                                            -
                                                        </a>
                                                    </td>
                                                }
                                                if (ViewBag.thamKhao > 0)
                                                {
                                                    <td class="text-center">
                                                        <a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/book/index/unit/0/book_type/2/page/1">
                                                            @ViewBag.thamKhao
                                                        </a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">
                                                        <a href="#">
                                                            -
                                                        </a>
                                                    </td>
                                                }
                                                if (ViewBag.Khac > 0)
                                                {
                                                    <td class="text-center">
                                                        <a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/book/index/unit/0/book_type/2/page/1">
                                                            @ViewBag.Khac
                                                        </a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">
                                                        <a href="#">
                                                            -
                                                        </a>
                                                    </td>
                                                }
                                            }
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
