@using Microsoft.Ajax.Utilities
@model IEnumerable<WebQLKhoaHoc.Models.degreeChartViewModel>
@{
    ViewBag.Title = "Thống kê - CSDL Khoa học";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}
<div class="main-content">
    <!-- Section: About -->
    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="panel">
                    <div class="panel-body">
                        <div>
                            <form action="ThongKe" class="form-horizontal" method="post" accept-charset="utf-8">
                                <div class="form-group">
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Thống kê theo:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select name="unit" class="form-control">
                                            <option value="total">Tổng hợp</option>
                                            <option value="degree" selected>Trình độ</option>
                                            <option value="quantum">Ngạch công chức</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-primary">Thống kê</button>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <div class="text-center">
                                    <span class="statistic-title">
                                        <br>Tính đến thời điểm (hiện tại)
                                    </span>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>TT</th>
                                            <th>Đơn vị công tác</th>
                                            <th class="text-center">Tiến sĩ khoa học</th>
                                            <th class="text-center">Sau tiến sĩ</th>
                                            <th class="text-center">Tiến sĩ</th>
                                            <th class="text-center">Thạc sĩ</th>
                                            <th class="text-center">Đại học</th>
                                            <th class="text-center">Cử nhân</th>
                                            <th class="text-center">Cao đẳng</th>
                                            <th class="text-center">Trung cấp</th>
                                            <th class="text-center">Phổ thông</th>
                                            <th class="text-center">Khác</th>
                                        </tr>
                                    </thead>
                                    @{
                                        // lấy thông tin các khoa
                                        QLKhoaHocEntities db = new QLKhoaHocEntities();
                                        int stt = 1;
                                        int[] sum = new int[10];
                                    }
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            sum[0] += item.TSKH;
                                            sum[1] += item.SauTS;
                                            sum[2] += item.TS;
                                            sum[3] += item.ThS;
                                            sum[4] += item.DH;
                                            sum[5] += item.CN;
                                            sum[6] += item.CD;
                                            sum[7] += item.TC;
                                            sum[8] += item.PT;
                                            sum[9] += item.Other;
                                            <tr>
                                                <td>@stt</td>
                                                <td>@db.DonViQLs.Find(item.MaDVQL).TenDonVI</td>
                                                <td class="text-center">
                                                    @if (item.TSKH > 0)
                                                    {
                                                        @item.TSKH
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                <td class="text-center">
                                                    @if (item.SauTS > 0)
                                                    {
                                                        @item.SauTS
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.TS > 0)
                                                    {
                                                        @item.TS
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.ThS > 0)
                                                    {
                                                        @item.ThS
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.DH > 0)
                                                    {
                                                        @item.DH
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.CN > 0)
                                                    {
                                                        @item.CN
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.CD > 0)
                                                    {
                                                        @item.CD
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.TC > 0)
                                                    {
                                                        @item.TC
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.PT > 0)
                                                    {
                                                        @item.PT
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.Other > 0)
                                                    {
                                                        @item.Other
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                            </tr>
                                            stt++;
                                        }
                                        <tr>
                                            <th colspan="2" class="text-center">Tổng cộng</th>
                                            @foreach (var item in sum)
                                            {
                                                <th class="text-center">
                                                    @if (item > 0)
                                                    {
                                                        @item;
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </th>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>





