@using Microsoft.Ajax.Utilities
@model IEnumerable<WebQLKhoaHoc.Models.totalChartViewModel>
@{
    ViewBag.Title = "Thống kê - CSDL Khoa học";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}
@functions{
    public List<List<Object>> GoogleChartData(QLKhoaHocEntities db, int take = 10, int skip = 0)
    {
        List<List<Object>> data = new List<List<Object>>(){new List<Object>() {
                                                    "Đơn vị công tác",
                                                    "Giáo sư danh dự",
                                                    "Giáo sư",
                                                    "Phó giáo sư",
                                                    "Tiến sĩ khoa học",
                                                    "Tiến sĩ",
                                                    "Thạc sĩ",
                                                    "Giảng viên",
                                                    "Nghiên cứu viên",
                                                }};
        var data_rows = Model.Skip(skip).Take(take);
        foreach (var row in data_rows)
        {
            string tenDonVi = db.DonViQLs.Find(row.MaDVQL).TenDonVI;
            data.Add(new List<Object>() {
                    tenDonVi,
                    row.GSDD,
                    row.GS,
                    row.PGS,
                    row.TSKH,
                    row.TS,
                    row.ThS,
                    row.GV,
                    row.NCV,
        });
        }
        return data;
    }
}
<div class="main-content">
    <!-- Section: About -->
    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="panel">
                    <div class="panel-body">
                        <div>
                            <form action="ThongKe" class="form-horizontal" method="post" accept-charset="utf-8">
                                <div class="form-group">
                                    <div class="col-md-2 text-right">
                                        <label class="control-label">Thống kê theo:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select name="unit" class="form-control">
                                            <option value="total" selected>Tổng hợp</option>
                                            <option value="degree">Trình độ</option>
                                            <option value="quantum">Ngạch công chức</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-9">
                                        <button type="submit" class="btn btn-primary">Thống kê</button>
                                    </div>
                                </div>
                            </form>
                            <div>
                                <div class="text-center">
                                    <span class="statistic-title">
                                        <br>Tính đến thời điểm (hiện tại)
                                    </span>
                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>TT</th>
                                            <th>Đơn vị công tác</th>
                                            <th class="text-center">Số lượng<br>Giáo sư danh dự</th>
                                            <th class="text-center">Số lượng<br>Giáo sư</th>
                                            <th class="text-center">Số lượng<br>Phó giáo sư</th>
                                            <th class="text-center">Số lượng<br>Tiến sĩ khoa học</th>
                                            <th class="text-center">Số lượng<br>Tiến sĩ</th>
                                            <th class="text-center">Số lượng<br>Thạc sĩ</th>
                                            <th class="text-center">Số lượng<br>Giảng viên</th>
                                            <th class="text-center">Số lượng<br>Nghiên cứu viên</th>
                                        </tr>
                                    </thead>
                                    @{
                                        // lấy thông tin các khoa
                                        QLKhoaHocEntities db = new QLKhoaHocEntities();
                                        int stt = 1;
                                        int[] sum = new int[8];
                                    }
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            sum[0] += item.GSDD;
                                            sum[1] += item.GS;
                                            sum[2] += item.PGS;
                                            sum[3] += item.TSKH;
                                            sum[4] += item.TS;
                                            sum[5] += item.ThS;
                                            sum[6] += item.GV;
                                            sum[7] += item.NCV;
                                            <tr>
                                                <td>@stt</td>
                                                <td>@db.DonViQLs.Find(item.MaDVQL).TenDonVI</td>
                                                <td class="text-center">
                                                    @if (item.GSDD > 0)
                                                    {
                                                        @item.GSDD
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                <td class="text-center">
                                                    @if (item.GS > 0)
                                                    {
                                                        @item.GS
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.PGS > 0)
                                                    {
                                                        @item.PGS
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.TSKH > 0)
                                                    {
                                                        @item.TSKH
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.TS > 0)
                                                    {
                                                        @item.TS
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.ThS > 0)
                                                    {
                                                        @item.ThS
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.GV > 0)
                                                    {
                                                        @item.GV
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.NCV > 0)
                                                    {
                                                        @item.NCV
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </td>
                                            </tr>
                                            stt++;
                                        }
                                        <tr>
                                            <th colspan="2" class="text-center">Tổng cộng</th>
                                            @foreach (var item in sum)
                                            {
                                                <th class="text-center">
                                                    @if (item > 0)
                                                    {
                                                        @item;
                                                    }
                                                    else
                                                    {
                                                        <span>-</span>
                                                    }
                                                </th>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @{

                    List<List<Object>> data1 = GoogleChartData(db, 10, 0);
                    List<List<Object>> data2 = GoogleChartData(db, 10, 10);
                    List<List<Object>> data3 = GoogleChartData(db, 10, 20);
                    List<List<Object>> data4 = GoogleChartData(db, 9, 30);

                }
                <input type="hidden" id="data1" value="@Json.Encode(data1)" />
                <input type="hidden" id="data2" value="@Json.Encode(data2)" />
                <input type="hidden" id="data3" value="@Json.Encode(data3)" />
                <input type="hidden" id="data4" value="@Json.Encode(data4)" />
                <div class="panel">
                    <div class="panel-body">
                        <div id="totalChart1"></div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div id="totalChart2"></div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div id="totalChart3"></div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <div id="totalChart4"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section charts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @Scripts.Render("~/bundles/charts")
    <script type="text/javascript">
        $(document).ready(function () {
            var json_data1 = $('#data1').val();
            var json_data2 = $('#data2').val();
            var json_data3 = $('#data3').val();
            var json_data4 = $('#data4').val();
            googleChart(json_data1, 'totalChart1');
            googleChart(json_data2, 'totalChart2');
            googleChart(json_data3, 'totalChart3');
            googleChart(json_data4, 'totalChart4');

        });
    </script>
}