@model WebQLKhoaHoc.DSNguoiThamGiaDeTai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DSNguoiThamGiaDeTai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LaChuNhiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaChuNhiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeTai.MaDeTaiHoSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeTai.MaDeTaiHoSo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaKhoaHoc.MaNKHHoSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaKhoaHoc.MaNKHHoSo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
