@model WebQLKhoaHoc.DeTai

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}


<div class="container">
    <h2 class="text-center">@Model.TenDeTai</h2>
    <hr />
    <div class="col-md-offset-2">
        <div class="row">
            <h3 class="col-md-3">
                Mã đề tài hộ sở:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.MaDeTaiHoSo)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Tên đề tài:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.TenDeTai)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Mục tiêu đề tài:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.MucTieuDeTai)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Nội dung đề tài
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.NoiDungDeTai)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Kết quả đề tài:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.KetQuaDeTai)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Năm bắt đầu
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.NamBD)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                năm kết thúc
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.NamKT)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Web liên kết
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.LienKetWeb)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                File Upload:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.LinkFileUpload)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Cấp đề tài:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.CapDeTai.TenCapDeTai)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Loại hình đề tài:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.LoaiHinhDeTai.TenLoaiDT)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Tên đơn vị chủ trì:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.DonViChuTri.TenDVChuTri)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Tên đơn vị đề tài
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.DonViQL.TenDonVI)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Lĩnh vực đề tài:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.LinhVuc.TenLinhVuc)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Xếp loại đề tài
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.XepLoai.TenXepLoai)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Tình trạng đề tài:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.TinhTrangDeTai.TenTinhTrang)
            </h4>
        </div>

        <div class="row">
            <h3 class="col-md-3">
                Phân loại đề tài:
            </h3>

            <h4 class="col-md-6">
                @Html.DisplayFor(model => model.PhanLoaiSP.TenPhanLoai)
            </h4>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-offset-4">
                @Html.ActionLink("Trở về", "Index", "AdminDeTai", null, new { @class = "pull-right btn btn-default" })
                <input type="submit" value="xóa" class="btn btn-default pull-right" />
            </div>
        </div>
        }
    </div>
</div>
