@using Microsoft.Ajax.Utilities
@model WebQLKhoaHoc.Models.NhaKhoaHocViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}


<section class="">
    <!-- Section: Scientist header -->
    <section id="home" class="divider parallax layer-overlay overlay-dark-4" data-bg-img="http://csdlkhoahoc.hueuni.edu.vn/csdl/images/bg5.jpg" style="background-image: url(&quot;http://csdlkhoahoc.hueuni.edu.vn/csdl/images/bg5.jpg&quot;); background-position: 50% 91px;">
        @using (Html.BeginForm("Search", "NhaKhoaHocs", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container pt-30 pb-20">
                        <div class="row">
                            <div class="col-md-6 pt-10">
                                <h2 class="title text-white">Dữ liệu Nhà khoa học</h2>
                                <ol class="breadcrumb text-left text-black mt-10">
                                    <li> @Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                                    <li class="active text-gray-silver">Nhà khoa học</li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <!-- Appointment Form Starts -->
                                <form class="subpage bg-white pt-20 pl-30 pr-30 pb-15" method="post" action="http://csdlkhoahoc.hueuni.edu.vn/index.php/scientist/search">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 pl-5 pr-5">
                                            <div class="form-group mb-5">
                                                <div class="styled-select">
                                                    @Html.DropDownList("MaDonVi", (IEnumerable<SelectListItem>)ViewBag.MaDonViQL, "--Chọn đơn vị--", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 pl-5 pr-5">
                                            <div class="form-group mb-5">
                                                @Html.DropDownList("MaNgach", (IEnumerable<SelectListItem>)ViewBag.MaNgachVienChuc, "--Chọn ngạch--", new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-6 pl-5 pr-5">
                                            <div class="form-group mb-5">
                                                @Html.DropDownList("MaHocHam", (IEnumerable<SelectListItem>)ViewBag.MaHocHam, "--Chọn học hàm--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 pl-5 pr-5">
                                            <div class="form-group mb-5">
                                                @Html.DropDownList("MaHocVi", (IEnumerable<SelectListItem>)ViewBag.MaHocVi, "--Chọn học vị--", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 pl-5 pr-5">
                                            <div class="form-group mb-5">
                                                @Html.DropDownList("MaCNDaoTao", (IEnumerable<SelectListItem>)ViewBag.MaCNDaoTao, "--Chọn chuyên ngành--", new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12 col-sm-8 pl-5 pr-5">
                                            <div class="form-group mb-5">
                                                <div class="styled-select">
                                                    <input name="SearchValue" id="SearchValue" class="form-control" type="text" placeholder="Từ khóa tìm kiếm" value="@ViewBag.SearchValue">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4 pl-5 pr-5">
                                            <div class="form-group mb-5">
                                                <button type="submit" class="btn btn-colored btn-theme-color-2 text-white btn-lg btn-block" data-loading-text="Please wait...">
                                                    Tìm Kiếm
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>
    <div class="container">

        <div class="section-content">

            <!-- Section: Experts Details -->
            <section>
                <div class="container">
                    <div class="section-content">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="thumb">
                                    <img class="img-fullwidth" src="@Model.AnhCaNhan" alt="" style="max-height: 26.4vw; border-radius: 50%">
                                    <img class="img-fullwidth" src="@Model.AnhCaNhan.IsNullOrWhiteSpace() ? '~/Image/avatar.bmp' : @Model.AnhCaNhan'
                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mt-20 text-center">
                                        <h4 class="name font-24 mt-0 mb-0">
                                            @Model.HoNKH @Model.TenNKH
                                        </h4>
                                        <h5 class="mt-5 text-theme-color-2">
                                            @Model.HocHam.TenHocHam - @Model.HocVi.TenHocVi
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <!-- Divider: Funfact -->

                                <div class="row divider parallax " data-parallax-ratio="0.7" style="background-position: 50% 380px;">
                                    <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50">
                                        <div class="funfact text-center">
                                            <a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/article/index/user/2873/page/1">
                                                <h2 data-animation-duration="2000" data-value="@Model.DsBaiBao" class="animate-number mt-0 font-30 font-weight-500 text-theme-color-2 appeared">0</h2>
                                            </a>
                                            <h5 class="text-uppercase mb-0">Bài báo</h5>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50">
                                        <div class="funfact text-center">
                                            <a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/book/index/user/2873/page/1">
                                                <h2 data-animation-duration="2000" data-value="@Model.DsSach" class="animate-number mt-0 font-30 font-weight-500 text-theme-color-2 appeared">0</h2>
                                            </a>
                                            <h5 class="text-uppercase mb-0">Sách - Giáo trình</h5>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50">
                                        <div class="funfact text-center">
                                            <a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/topic/index/user/2873/page/1">
                                                <h2 data-animation-duration="2000" data-value="@Model.DsDetai" class="animate-number mt-0 font-30 font-weight-500 text-theme-color-2 appeared">1</h2>
                                            </a>
                                            <h5 class="text-uppercase mb-0">Đề tài khoa học</h5>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4 class="line-bottom">Thông tin:</h4>
                                        <div class="volunteer-address">
                                            <ul>
                                                <li>
                                                    <div class="bg-light media border-bottom p-15 mb-20">
                                                        <div class="media-left">
                                                            <i class="fa fa-user text-theme-colored font-24 mt-5"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <p>
                                                                <span class="mt-0 mb-0 font-weight-600">Họ và tên:</span>
                                                                @Model.HoNKH @Model.TenNKH<br>
                                                                <span class="mt-0 mb-0 font-weight-600">Giới tính:</span>
                                                                @Model.GioiTinhNKH<br>
                                                                <span class="mt-0 mb-0 font-weight-600">Năm sinh:</span>
                                                                @Model.NgaySinh.Value.Year
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="bg-light media border-bottom p-15 mb-20">
                                                        <div class="media-left">
                                                            <i class="fa fa-map-marker text-theme-colored font-24 mt-5"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="mt-0 mb-0 font-weight-600">Địa chỉ:</h5>
                                                            <p>
                                                                @Model.DiaChiLienHe
                                                                .
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="bg-light media border-bottom p-15">
                                                        <div class="media-left">
                                                            <i class="fa fa-phone text-theme-colored font-24 mt-5"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="mt-0 mb-0 font-weight-600">Liên hệ:</h5>
                                                            <p>
                                                                <span>Điện thoại:</span> @Model.DienThoai<br>
                                                                <span>Email:</span> @Model.EmailLienHe<br>

                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="line-bottom">Chuyên môn:</h4>
                                        <div class="volunteer-address">
                                            <ul>
                                                <li>
                                                    <div class="bg-light media border-bottom p-15 mb-20">
                                                        <div class="media-left">
                                                            <i class="fa fa-bookmark text-theme-colored font-24 mt-5"></i>
                                                        </div>
                                                        <div class="media-body">
                                                            <h5 class="mt-0 mb-0 font-weight-600">Chức danh:</h5>
                                                            <p>
                                                                <span>@Model.HocHam.TenHocHam</span>
                                                                -
                                                                <span>@Model.NamKetThucDaoTao.Year</span>
                                                                <br>
                                                            </p>
                                                            <h5 class="mt-0 mb-0 font-weight-600">Ngành đào tạo:</h5>
                                                            <p>
                                                                <span>@Model.ChuyenNganh.NganhDaoTao.TenNganhDaoTao</span>
                                                            </p>
                                                            <h5 class="mt-0 mb-0 font-weight-600">Chuyên ngành đào tạo:</h5>
                                                            <p>
                                                                <span>@Model.ChuyenNganh.TenChuyenNganh</span>
                                                            </p>
                                                            <h5 class="mt-0 mb-0 font-weight-600">Chuyên môn giảng dạy:</h5>
                                                            <p>
                                                                @{
                                                                    foreach (var item in Model.ChuyenMonNKHs)
                                                                    {
                                                                        <span>@item.ChuyenMon.TenChuyenMon;</span>
                                                                    }
                                                                }
                                                                    </p>
                                                            <h5 class="mt-0 mb-0 font-weight-600">Lĩnh vực nghiên cứu:</h5>
                                                            <p>
                                                                @{
                                                                    foreach (var item in Model.LinhVucs)
                                                                    {
                                                                        <span>@item.TenLinhVuc; </span>
                                                                    }
                                                                }
                                                            </p>
                                                            <h5 class="mt-0 mb-0 font-weight-600">Trình độ ngoại ngữ:</h5>
                                                            <p>
                                                                @{
                                                                    foreach (var item in Model.TrinhDoNgoaiNgus)
                                                                    {
                                                                        <span>@item.TenTrinhDo</span>
                                                                        <br>
                                                                    }
                                                                }
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row mt-30">
                            <div class="col-md-12">
                                <h4 class="line-bottom">Quá trình:</h4>
                                <div class="volunteer-address">
                                    <ul>
                                        <li>
                                            <div class="bg-light media border-bottom p-15 mb-20">
                                                <div class="media-left">
                                                    <i class="fa fa-users text-theme-colored font-24 mt-5"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="mt-0 mb-0 font-weight-600">Đơn vị quản lý</h4>
                                                    <hr class="mt-10 mb-10">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Đơn vị</th>
                                                                <th>Địa chỉ cơ quan</th>
                                                                <th>Điện thoại cơ quan</th>
                                                                <th>Email cơ quan</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>@Model.DonViQL.TenDonVI</td>
                                                                <td>@Model.DonViQL.DiaChiCQ</td>
                                                                <td>@Model.DonViQL.DienThoaiCQ</td>
                                                                <td>@Model.DonViQL.EmailCQ</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="bg-light media border-bottom p-15 mb-20">
                                                <div class="media-left">
                                                    <i class="fa fa-briefcase text-theme-colored font-24 mt-5"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="mt-0 mb-0 font-weight-600">Quá trình công tác</h4>
                                                    <hr class="mt-10 mb-10">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Thời gian</th>
                                                                <th>Chức danh công tác</th>
                                                                <th>Cơ quan công tác</th>
                                                                <th>Chức vụ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                foreach (var item in Model.QuaTrinhCongTacs)
                                                                {
                                                                    <tr>
                                                                        <td>@item.ThoiGianBD.Value.Date - @item.ThoiGIanKT.Value.Date</td>
                                                                        <td>@item.ChucDanhCT</td>
                                                                        <td>@item.DonViQL.TenDonVI</td>
                                                                        <td>@item.ChucVuCT</td>
                                                                    </tr>
                                                                }

                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="bg-light media border-bottom p-15 mb-20">
                                                <div class="media-left">
                                                    <i class="fa fa-graduation-cap text-theme-colored font-24 mt-5"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="mt-0 mb-0 font-weight-600">Quá trình đào tạo</h4>
                                                    <hr class="mt-10 mb-10">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Bậc đào tạo</th>
                                                                <th>Cơ sở đào tạo</th>
                                                                <th>Ngành đào tạo</th>
                                                                <th>Năm tốt nghiệp</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        @{
                                                            foreach (var item in Model.QuaTrinhDaoTaos)
                                                            {
                                                                <tr>
                                                                    <td>@item.BacDaoTao.TenBacDT</td>
                                                                    <td>@item.CoSoDaoTao</td>
                                                                    <td>@item.NganhDaoTao.TenNganhDaoTao</td>
                                                                    <td>@item.NamTotNghiep.Value.Year</td>
                                                                </tr>
                                                            }
                                                        }
                                                       
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>
