@model WebQLKhoaHoc.BaiBao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/PopUpLayout.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Thông tin đề tài</h4>
</div>

<div class="modal-body">

    <dl class="dl-horizontal">
        <dt>
            Mã bài báo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaISSN)
        </dd>

        <dt>
            Tên bài báo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBaiBao)
        </dd>

        <dt>
            Tạp chí:
        </dt>

        <dd>
            @if (Model.LaTrongNuoc.Value)
            {
                var trongnuoc = "Trong nước";
                <span>@trongnuoc</span>
            }
            else
            {
                var nuocngoai = "Nước ngoài";
                <span>@nuocngoai</span>
            }
        </dd>

        <dt>
            Cơ quan xuất bản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CQXuatBan)
        </dd>

        <dt>
            Năm đăng báo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamDangBao.Value.Year)
        </dd>

        <dt>
            Tập phát hành:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TapPhatHanh)
        </dd>

        <dt>
            Số phát hành:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoPhatHanh)
        </dd>

        <dt>
            Trang bài báo:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangBaiBao)
        </dd>

        <dt>
            Web liên kết:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LienKetWeb)
        </dd>

        <dt>
            Link upload file:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkFileUpLoad)
        </dd>

        <dt>
            Cấp tạp chí:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapTapChi.TenCapTapChi)
        </dd>

        <dt>
            Loại tạp chí:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanLoaiTapChi.TenLoaiTapChi)
        </dd>

        <dt>
            Lĩnh vực:
        </dt>

        <dd>
            @foreach (var linhvuc in Model.LinhVucs)
            {
                @Html.DisplayFor(modelLV => linhvuc.TenLinhVuc)
            }
        </dd>

    </dl>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
</div>
