@model WebQLKhoaHoc.BaiBao

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.MaBaiBao)
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Thông tinh bài báo</h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal form-label-right">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Mã ISSN</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.MaISSN)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên Bài Báo</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.TenBaiBao)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tạp Chí</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.LaTrongNuoc)
                    @Html.ValidationMessageFor(model => model.LaTrongNuoc)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Cơ Quan Xuất Bản</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.CQXuatBan)
                    @Html.ValidationMessageFor(model => model.CQXuatBan)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Loại Tạp Chí</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownList("MaLoaiTapChi", String.Empty)
                    @Html.ValidationMessageFor(model => model.MaLoaiTapChi)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Cấp Tạp Chí</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownList("MaCapTapChi", String.Empty)
                    @Html.ValidationMessageFor(model => model.MaCapTapChi)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Năm Đăng Báo</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.NamDangBao)
                    @Html.ValidationMessageFor(model => model.NamDangBao)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tập Phát Hành</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.TapPhatHanh)
                    @Html.ValidationMessageFor(model => model.TapPhatHanh)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Số Phát Hành</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.SoPhatHanh)
                    @Html.ValidationMessageFor(model => model.SoPhatHanh)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Trang Bài Báo</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.TrangBaiBao)
                    @Html.ValidationMessageFor(model => model.TrangBaiBao)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Liên Kết Web</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.LienKetWeb)
                    @Html.ValidationMessageFor(model => model.LienKetWeb)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Link Upload</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.EditorFor(model => model.LinkFileUpLoad)
                    @Html.ValidationMessageFor(model => model.LinkFileUpLoad)
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a href="@Url.Action("Index","BaiBaos")" type="button" class="btn btn-danger">Đóng</a>
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
