@model WebQLKhoaHoc.SachGiaoTrinh

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/PopUpLayout.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Thông tin Sách, Giáo trình</h4>
</div>

<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            ISBN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaISBN)
        </dd>

        <dt>
            Tên sách, giáo trình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            Loại sách, giáo trình
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanLoaiSach.TenLoai)
        </dd>

        <dt>
            Lĩnh vực
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinhVuc.TenLinhVuc)
        </dd>


        <dt>
            Nhà xuất bản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan.TenNXB)
        </dd>

        <dt>
            Năm xuất bản
        </dt>

        <dd>
            @Model.NamXuatBan.Value.ToString("dd/MM/yyyy")
        </dd>

        <dt>
            Tác giả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSTacGias)
        </dd>
    </dl>
</div>

<div class="modal-footer">
    <a href="@Url.Action("Edit","SachGiaoTrinhs",new { id = Model.MaSach})" type="button" class="btn btn-primary">Chỉnh Sửa</a>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
</div>
