@model WebQLKhoaHoc.QuaTrinhDaoTao
@{ QLKhoaHocEntities db = new QLKhoaHocEntities(); }
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1 class="text-center">Sửa quá trình đào tạo</h1>
        <hr />
        @Html.ValidationSummary(true)
        <input type="hidden" name="manhakhoahoc" value="@ViewBag.manhakhoahoc" />
        <div class="container">
            <div class="row">
                <input type="hidden" name="MaQT" value="@Model.MaQT" />
                <input type="hidden" name="MaNKH" value="@ViewBag.manhakhoahoc" />
                <div class="form-group">
                    <div class="col-md-2  col-md-offset-1"><h4>Thời gian bất đầu:</h4></div>
                    <div class="col-md-7">
                        <input name="ThoiGianBD" type="text" class="form-control" value="@Model.ThoiGianBD" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2  col-md-offset-1"><h4>Thời gian kết thúc:</h4></div>
                    <div class="col-md-7">
                        <input name="ThoiGianKT" type="text" class="form-control" value="@Model.ThoiGianKT" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2  col-md-offset-1"><h4>Học vị:</h4></div>
                    <div class="col-md-7">
                        @Html.DropDownList("MaHocVi", new SelectList(db.HocVis, "MaHocVi", "TenHocVi", Model.MaHocVi), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2  col-md-offset-1"><h4>Cơ sở đào tạo:</h4></div>
                    <div class="col-md-7">
                        <input name="CoSoDaoTao" type="text" class="form-control" value="@Model.CoSoDaoTao" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-2  col-md-offset-1"><h4>Tên ngành:</h4></div>
                    <div class="col-md-7">
                        @Html.DropDownList("MaNganh", new SelectList(db.NganhDaoTaos, "MaNganhDaoTao", "TenNganhDaoTao", Model.MaNganh), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-7">
                        @Html.ActionLink("Trở về", "Edit", "AdminNhaKhoaHoc", new { id = ViewBag.manhakhoahoc }, new { @class = "btn btn-danger pull-right" })
                        <input type="submit" value="Lưu" class="btn btn-primary pull-right" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

