@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}
@{
    QLKhoaHocEntities db = new QLKhoaHocEntities();
}
<div class="main-content">
    <!-- Section: home header -->
    <section id="home" class="divider parallax layer-overlay overlay-dark-4" data-bg-img="http://csdlkhoahoc.hueuni.edu.vn/csdl/images/bg5.jpg" style="background-image: url(&quot;http://csdlkhoahoc.hueuni.edu.vn/csdl/images/bg5.jpg&quot;); background-position: 50% 91px;">
        <div class="display-table">
            <div class="display-table-cell">
                <div class="container pt-70 pb-70">
                    <div class="row">
                        <div class="col-md-8 pt-50">
                            <div class="home-content sm-text-center">
                                <h3 class="text-white text-uppercase font-30 font-weight-500 pl-10 mt-0 mb-5 line-height-1">
                                    Cơ Sở Dữ Liệu
                                </h3>
                                <h2 class="text-white text-uppercase font-46 font-weight-800 pl-10 mt-0 mb-20 line-height-1">
                                    <span class="text-theme-color-2">Khoa Học</span> Và Công Nghệ
                                </h2>
                                <div class="col-sm-6 col-md-6">
                                    <div class="icon-box p-10 pl-0 mb-20">
                                        <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="http://csdlkhoahoc.hueuni.edu.vn/index.php/scientist">
                                            <i class="glyphicon glyphicon-pencil text-white"></i>
                                        </a>
                                        <div class="ml-70 ml-sm-0">
                                            <a class="text-white font-18" href="@Url.Action("Index","NhaKhoaHocs")">
                                                DỮ LIỆU NHÀ KHOA HỌC <br>
                                                <span class="text-gray line-height-1">
                                                    @db.NhaKhoaHocs.Count() 
                                                    Kết Quả
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="icon-box p-10 pl-0 mb-20">
                                        <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="http://csdlkhoahoc.hueuni.edu.vn/index.php/topic">
                                            <i class="glyphicon glyphicon-bullhorn text-white"></i>
                                        </a>
                                        <div class="ml-70 ml-sm-0">
                                            <a class="text-white font-18" href="@Url.Action("Index","DeTais")">
                                                DỮ LIỆU ĐỀ TÀI KHOA HỌC<br>
                                                <span class="text-gray line-height-1">
                                                    @db.DeTais.Count()
                                                    Kết Quả
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="icon-box p-10 pl-0 mb-20">
                                        <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="http://csdlkhoahoc.hueuni.edu.vn/index.php/article">
                                            <i class="glyphicon glyphicon-book text-white"></i>
                                        </a>
                                        <div class="ml-70 ml-sm-0">
                                            <a class="text-white font-18" href="@Url.Action("Index","BaiBaos")">
                                                DỮ LIỆU BÀI BÁO KHOA HỌC<br>
                                                <span class="text-gray line-height-1">
                                                    @db.BaiBaos.Count()
                                                    Kết Quả
                                                   
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="icon-box p-10 pl-0 mb-20">
                                        <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="http://csdlkhoahoc.hueuni.edu.vn/index.php/book">
                                            <i class="glyphicon glyphicon-tasks text-white"></i>
                                        </a>
                                        <div class="ml-70 ml-sm-0">
                                            <a class="text-white font-18" href="@Url.Action("Index","SachGiaoTrinhs")">
                                                DỮ LIỆU SÁCH, GIÁO TRÌNH<br>
                                                <span class="text-gray line-height-1">
                                                    @db.SachGiaoTrinhs.Count()
                                                    Kết Quả
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-sm-30">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <!-- Appointment Form Starts -->
                                <form id="home_appointment_form" name="home_appointment_form" class="booking-form form-home bg-white p-30" method="post" action="http://csdlkhoahoc.hueuni.edu.vn/index.php/home/search">
                                    <h3 class="mt-0 mb-20">Tìm Kiếm <span class="text-theme-color-2">Dữ Liệu</span></h3>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group mb-10">
                                                <input id="SearchValue" name="SearchValue" class="form-control" type="text" placeholder="Nhập từ khóa...">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mb-10">
                                                <div class="styled-select">
                                                    @Html.DropDownList("MaDonViQLThucHien", (IEnumerable<SelectListItem>)ViewBag.MaDonViQLThucHien, "--Chọn đơn vị--", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group mb-10">
                                                <div class="styled-select">
                                                    @Html.DropDownList("MaDanhMuc", (IEnumerable<SelectListItem>)ViewBag.MaDanhMuc, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 mt-20">
                                        <input name="form_botcheck" class="form-control" type="hidden" value="">
                                        <button type="submit" class="btn btn-colored btn-theme-color-2 text-white btn-lg btn-block" data-loading-text="Please wait...">
                                            Tìm Kiếm
                                        </button>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section class="">
        <div class="container">
            <div class="section-content">

                <!-- Section: About -->
                <section class="">
                    <div class="container">
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s;">
                                    <h2 class="text-uppercase mt-0 font-weight-600">Giới Thiệu Tổng Quan Về<br> <span class="text-theme-color-2">Đại Học Sư Phạm TPHCM</span></h2>
                                    <p style="text-align:justify">
                                    <span style="color:#ff6600; font-family:georgia,palatino; font-size:x-large"><strong>61</strong></span><span style="color:#132f5b"> năm hình thành và phát triển, Đại học Sư Phạm TPHCM ngày nay là một trung tâm đào tạo và nghiên cứu khoa học lớn của miền Trung Việt Nam. Là một trong 14 trường Đại học trọng điểm của cả nước, Đại học Sư Phạm TPHCM đã khẳng định được vị thế, uy tín của mình trong hệ thống giáo dục đại học Việt Nam. Nguồn nhân lực KHCN bao gồm một đội ngũ đông đảo các nhà giáo, nhà nghiên cứu có trình độ cao. Tính cho đến nay Đại học Sư Phạm TPHCM có <span style="color:#ff0000"><strong>3770</strong></span>&nbsp;cán bộ công chức. Số lượng giảng viên là <span style="color:#333399"><strong><strong><a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/statistic/scientist/type/total" target="_blank"><span style="color:#333399">2078</span></a></strong></strong></span>, trong đó có <span style="color:#333399"><strong><a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/statistic/scientist/type/quantum" target="_blank"><span style="color:#333399">456</span></a></strong></span>&nbsp;giảng viên chính và giảng viên cao cấp. 
                                       Đại học Sư Phạm TPHCM có <span style="color:#333399"><strong><a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/scientist/index/title/3/page/1" target="_blank"><span style="color:#333399">@db.NhaKhoaHocs.Where(p => p.MaHocHam == 2 || p.MaHocHam ==3).Count()</span></a></strong></span>&nbsp;GS,
                                         <strong><a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/scientist/index/title/2/page/1" target="_blank"><span style="color:#333399"> @db.NhaKhoaHocs.Where(p => p.MaHocHam == 1).Count() </span></a></strong> PGS;
                                         <span style="color:#333399"><strong><a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/scientist/index/degree/3/page/1" target="_blank"><span style="color:#333399">@db.NhaKhoaHocs.Where(p => p.MaHocVi == 6 || p.MaHocVi == 7).Count()</span></a></strong></span>&nbsp;Tiến sĩ khoa học, tiến sĩ và <strong><a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/scientist/index/degree/7/page/1" target="_blank"><span style="color:#333399">14</span></a></strong> chuyên khoa 2;&nbsp;
                                        <span style="color:#333399"><strong><a href="http://csdlkhoahoc.hueuni.edu.vn/index.php/scientist/index/degree/2/page/1" target="_blank"><span style="color:#333399">1452</span></a>&nbsp;</strong></span>Thạc sĩ và chuyên khoa 1<span style="font-size:small"><span style="color:black"><span style="color:#132f5b">.</span></span></span><span style="color:#132f5b"> Tỷ lệ giảng viên có trình độ sau đại học đạt&nbsp;<span style="color:#333399"><strong>83.5%</strong></span>. Đây là một tài sản quý báu của Đại học Sư Phạm TPHCM, của tỉnh Thừa Thiên Sư Phạm TPHCM và của cả nước. </span></span>
                                    </p>

                                    <p style="text-align:justify"><span style="color:#132f5b"><span style="color:#ff6600; font-family:georgia,palatino; font-size:large"><strong>H</strong></span>oạt động đào tạo và NCKH của các nhà giáo, nhà khoa học đã góp phần to lớn và có tính chất quyết định đến sự phát triển của Đại học Sư Phạm TPHCM trong điều kiện hội nhập và mở rộng giao lưu hợp tác quốc tế. Cán bộ giảng viên Đại học Sư Phạm TPHCM đã thực hiện hàng trăm nhiệm vụ NCKH các cấp, đăng tải hàng ngàn bài báo, công trình khoa học trên các Tạp chí trong và ngoài nước, biên soạn hàng trăm giáo trình, sách, tài liệu tham khảo phục vụ thiết thực cho công tác đào tạo và NCKH. Đây là nguồn dữ liệu quý, phục vụ cho việc tra cứu, tham khảo trong đào tạo, đặc biệt là đào tạo Sau đại học và NCKH.</span></p>

                                    <p style="text-align:justify"><span style="color:#132f5b"><strong><span style="color:#ff6600">CƠ SỞ DỮ LIỆU KHOA HỌC CÔNG NGHỆ</span></strong> còn là nguồn thông tin giúp cho công tác quản lý trên các lĩnh vực Khoa học Công nghệ, đào tạo Sau đại học, xuất bản TCKH, tư vấn và dịch vụ khoa học,...</span></p>

                                    <p style="text-align:justify"><span style="color:#132f5b">Chúng tôi trân trọng giới thiệu <strong><span style="color:#ff6600">"CƠ SỞ DỮ LIỆU KHOA HỌC CÔNG NGHỆ"</span></strong> với mong muốn rằng, cùng với các CSDL khác sẽ góp phần phản ánh một cách tương đối đầy đủ nguồn nhân lực chất lượng cao của giáo dục đại học nước nhà.</span></p>

                                    <p style="text-align:justify">&nbsp;</p>
                                </div>
                                <div class="col-md-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s;">
                                    <div class="row mb-10">
                                        <div class="col-md-12">
                                            <a href="http://hueuni.edu.vn" target="_blank" class="hue-uni"><img src="~/Image/logo_hcmup.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section: List News -->
                <section id="event">
                    <div class="container pb-50">
                        <div class="section-content">
                            <div class="row">
                                <div class="col-md-8">
                                    <h2 class="line-bottom mt-0 line-height-1">
                                        Tin tức - Thông báo
                                    </h2>
                                    <article class="post media-post clearfix pb-0 mb-10">
                                        <a href="#" class="post-thumb mr-20">
                                            <img alt="" src="http://csdlkhoahoc.hueuni.edu.vn/data/2018/12/huongdan.jpg" width="120">
                                        </a>
                                        <div class="post-right">
                                            <h4 class="mt-0 mb-5">
                                                <a href="#">Hướng dẫn cập nhật thông tin cá nhân của nhà khoa học</a>
                                            </h4>
                                            <p class="mb-0 font-13">

                                            </p>
                                        </div>
                                    </article>
                                    <article class="post media-post clearfix pb-0 mb-10">
                                        <a href="#" class="post-thumb mr-20">
                                            <img alt="" src="http://csdlkhoahoc.hueuni.edu.vn/data/2018/8/huongdan.jpg" width="120">
                                        </a>
                                        <div class="post-right">
                                            <h4 class="mt-0 mb-5">
                                                <a href="#">Hướng dẫn sử dụng Cơ sở dữ liệu khoa học Đại học Sư Phạm TPHCM</a>
                                            </h4>
                                            <p class="mb-0 font-13">

                                            </p>
                                        </div>
                                    </article>
                                    <article class="post media-post clearfix pb-0 mb-10">
                                        <a href="#" class="post-thumb mr-20">
                                            <img alt="" src="http://csdlkhoahoc.hueuni.edu.vn/data/2018/8/qd.jpg" width="120">
                                        </a>
                                        <div class="post-right">
                                            <h4 class="mt-0 mb-5">
                                                <a href="#">Quy định quản lý và sử dụng Cơ sở dữ liệu khoa học công nghệ Đại học Sư Phạm TPHCM</a>
                                            </h4>
                                            <ul class="list-inline font-12 mb-5">
                                                <li class="pr-0"><i class="fa fa-calendar mr-5"></i>2018-03-13 14:31:50</li>
                                            </ul>
                                            <p class="mb-0 font-13">

                                            </p>
                                        </div>
                                    </article>
                                    <article class="post media-post clearfix pb-0 mb-10">
                                        <a href="#" class="post-thumb mr-20">
                                            <img alt="" src="http://csdlkhoahoc.hueuni.edu.vn/data/2018/8/tb.jpg" width="120">
                                        </a>
                                        <div class="post-right">
                                            <h4 class="mt-0 mb-5">
                                                <a href="#">Thông báo cập nhật dữ liệu khoa học công nghệ</a>
                                            </h4>
                                            <ul class="list-inline font-12 mb-5">
                                                <li class="pr-0"><i class="fa fa-calendar mr-5"></i>2018-03-12 23:31:21</li>
                                            </ul>
                                            <p class="mb-0 font-13">

                                            </p>
                                        </div>
                                    </article>
                                    <div class="clearfix">
                                        <a href="#">
                                            <img src="http://csdlkhoahoc.hueuni.edu.vn/imgs/faq.png" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="mt-5 btn-block" target="_blank">
                                        <img class="img-fullwidth" src="~/Image/logo_hcmup.png" alt="Cổng thông tin Đại học Sư Phạm TPHCM" title="Cổng thông tin Đại học Sư Phạm TPHCM">
                                    </a>
                                    <a href="#" class="mt-5 btn-block" target="_blank">
                                        <img class="img-fullwidth" src="http://csdlkhoahoc.hueuni.edu.vn/data/2018/11/SHTT.jpg" alt="Thông tin Sở hữu trí tuệ" title="Thông tin Sở hữu trí tuệ">
                                    </a>
                                    <a href="#" class="mt-5 btn-block" target="_blank">
                                        <img class="img-fullwidth" src="http://csdlkhoahoc.hueuni.edu.vn/data/2018/11/ttql.jpg" alt="Trang Quản lý điều hành Đại học Sư Phạm TPHCM" title="Trang Quản lý điều hành Đại học Sư Phạm TPHCM">
                                    </a>
                                    <a href="#" class="mt-5 btn-block" target="_blank">
                                        <img class="img-fullwidth" src="http://csdlkhoahoc.hueuni.edu.vn/data/2018/11/tckh.jpg" alt="Tạp chí Khoa học Đại học Sư Phạm TPHCM" title="Tạp chí Khoa học Đại học Sư Phạm TPHCM">
                                    </a>
                                    <a href="#" class="mt-5 btn-block" target="_blank">
                                        <img class="img-fullwidth" src="http://csdlkhoahoc.hueuni.edu.vn/data/2018/11/QLDTKH.jpg" alt="Quản lý đề tài khoa học" title="Quản lý đề tài khoa học">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </section>
</div>