<html lang="en">
<!-- Head BEGIN -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <script src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" data-auto-replace-svg="nest"></script>   


    <title>@ViewBag.Title</title>
    <!-- Theme styles START -->
    @Styles.Render("~/Content/admincss")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Theme styles END -->
</head>
<!-- Head END -->
<!-- Body BEGIN -->
<body class="">


    <!-- end wrapper -->
    <!-- Footer Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/admin")


</body>
<!-- END BODY -->
</html>