@model IEnumerable<WebQLKhoaHoc.DonViChuTri>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDVChuTri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDVChuTri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDVChuTri }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDVChuTri }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDVChuTri })
        </td>
    </tr>
}

</table>
