@model IEnumerable<WebQLKhoaHoc.PhanLoaiTapChi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiTapChi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiTapChi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLoaiTapChi }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLoaiTapChi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLoaiTapChi })
        </td>
    </tr>
}

</table>
