@model IEnumerable<WebQLKhoaHoc.TrinhDoNgoaiNgu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenTrinhDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CapDo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenTrinhDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CapDo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaTrinhDoNN }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaTrinhDoNN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaTrinhDoNN })
        </td>
    </tr>
}

</table>
