@model WebQLKhoaHoc.Models.ChangePasswordModel

@{
    ViewBag.Title = "Đổi Mật Khẩu";
    Layout = "~/Views/Shared/PopUpLayout.cshtml";
}


<div class="container-contact100">
    <div class="wrap-contact100">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <a href="/" class="btn btn-info btn-lg" style="background: #6675df; position: absolute; top: 2%; left: 85%;">
                <span class="glyphicon glyphicon-log-out"></span> Back To Home Page
            </a>

            <span class="contact100-form-title">
                Đổi Mật Khẩu
            </span>
          
            <div class="wrap-input100 validate-input">
                <label class="label-input100" for="name">Mật Khẩu Cũ</label>
                @Html.EditorFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
            <div class="wrap-input100 validate-input">
                <label class="label-input100" for="name">Mật Khẩu Mới</label>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="wrap-input100 validate-input">
                <label class="label-input100" for="name">Xác Nhận Mật Khẩu</label>
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <div class="container-contact100-form-btn">
                <button type="submit" class="contact100-form-btn">Đổi Mật Kha63u</button>
            </div>

         
            <div class="contact100-more flex-col-c-m" style="background-image: url('/Image/login_background.jpg');">
            </div>
        }
        </div>


    </div>
@Scripts.Render("~/bundles/jquery")



