@model WebQLKhoaHoc.QuaTrinhDaoTao

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<h2>Delete</h2>

<h3>Bạn thật sự muốn xóa qua</h3>
<div>
    <h4>QuaTrinhDaoTao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianBD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianBD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianKT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianKT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoSoDaoTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoSoDaoTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamTotNghiep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamTotNghiep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BacDaoTao.TenBacDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BacDaoTao.TenBacDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NganhDaoTao.TenNganhDaoTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NganhDaoTao.TenNganhDaoTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhaKhoaHoc.MaNKHHoSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhaKhoaHoc.MaNKHHoSo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
