@model List<WebQLKhoaHoc.DSNguoiThamGiaBaiBao>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminMainPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input type="hidden" name="manhakhoahoc" value="@ViewBag.manhakhoahoc" />
    <input type="hidden" name="mabaibao" value="@ViewBag.mabaibao" />
    <div class="form-horizontal">
        <div class="container">
            <div class="text-center">
                <h1>Danh sách người tham gia bài báo:</h1>
                <h1>@Model[0].BaiBao.TenBaiBao</h1>
            </div>
            <hr />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><h4>Tên tác giả</h4></td>
                        <td><h4>Là tác giả chính</h4></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            @Html.HiddenFor(model => Model[i].MaBaiBao)
                            @Html.HiddenFor(model => Model[i].MaNKH)
                            <td>
                                <h5>@Model[i].NhaKhoaHoc.HoNKH @Model[i].NhaKhoaHoc.TenNKH</h5>
                            </td>
                            <td>
                                @Html.CheckBox("[" + i + "].LaTacGiaChinh", Convert.ToBoolean(Model[i].LaTacGiaChinh), new { @class = "big-checkbox" })
                            </td>
                            <td>
                                <a href="  @Url.Action("Delete", "AdminDSNguoiThamGiaBaiBao", new { id = Model[i].MaBaiBao, mankh = Model[i].MaNKH, manhakhoahoc = ViewBag.manhakhoahoc })" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Trở về", "Edit", "AdminNhaKhoaHoc", new { id = ViewBag.manhakhoahoc }, new { @class = "btn btn-danger btn-lg pull-right" })
                    <input type="submit" value="Lưu" class="btn btn-primary btn-lg pull-right" style="margin-right:10px" />
                    @Html.ActionLink("Thêm mới", "Create", "AdminDSNguoiThamGiaBaiBao", new { id = Model[0].MaBaiBao, manhakhoahoc = ViewBag.manhakhoahoc }, new { @class = "btn btn-success btn-lg pull-right", @style = "margin-right:10px" });
                </div>
            </div>
        </div>
    </div>
}
<style>
    .big-checkbox {
        height: 40px;
        width: 25px;
    }
</style>
