@model WebQLKhoaHoc.KinhPhiDeTai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KinhPhiDeTai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiKinhPhi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiKinhPhi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamTiepNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamTiepNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeTai.MaDeTaiHoSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeTai.MaDeTaiHoSo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhi }) |
    @Html.ActionLink("Back to List", "Index")
</p>
