@model IEnumerable<WebQLKhoaHoc.DSNguoiThamGiaDeTai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LaChuNhiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeTai.MaDeTaiHoSo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaKhoaHoc.MaNKHHoSo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LaChuNhiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeTai.MaDeTaiHoSo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaKhoaHoc.MaNKHHoSo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
